/* ----- RESET E NORMALIZZAZIONE ----- */
/* ---------- */
/* ---------- */
body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 31px;
    line-height: 120%;
    margin-top: 0;
}

h2 {
    font-size: 36px;
    line-height: 120%;
    margin-top: 0;
}

h3 {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    margin: auto;
}

h4 {
    color: #5b6987;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}

p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

ul {
    display: inline-block;
    margin-bottom: 0;
}

/* ----- ALL DOC ----- */
.highlight {
    background-color: rgb(0,215,210);
    color: rgb(3,27,78);
    font-size: 9px;
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 10px;
}

/* ----- CAROUSEL ----- */
.carousel {
    position: relative;
}

.arrow-left::after {
    content: "\2190";
    color: #5b6886;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.arrow-right::after {
    content: "\2192";
    color: rgb(3,27,78);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.carousel > .arrow-left {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.carousel > .arrow-right {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
/* ----- FINE CAROUSEL ----- */

/* ----- SIMBOLI ----- */
.angle-right::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}

.dropdown-symb::after {
    content: " \f107";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #5b6886;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #0069ff;
    border-radius: 50%;
    margin: 0 6px;
}

.dot:first-child {
    background-color: #0069ff;
}
/* ----- FINE SIMBOLI ----- */

/* ----- BUTTONS ----- */
.btn {
    font-weight: bold;
    padding: 8px 16px;
    transition: all 0.25s;
}

.btn-lg {
    font-size: 18px;
    padding: 15px 20px;
}

.btn-primary {
    background-color: #006aff;
    border-color: #006aff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1633ff;
    border-color: #1633ff;
}

#header-btm .btn-primary:hover {
    background-color: #006aff;
    border-color: #006aff;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: #006aff;
    color: #006aff;
}

.btn-outline-primary:hover {
    background-color: #006aff;
    color: #fff;
}

.form-sign-up .btn-outline-primary:hover {
    background-color: transparent;
    border-color: #5b6886;
    color: #363636;
}

.form-sign-up .btn-outline-primary:hover i {
    color: #006aff;
}

.btn-light {
    background-color: transparent;
    color: rgba(3, 27, 78, 0.6);
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    transition: color 0.3s, border 0.3s;
}

.btn-light:hover {
    background-color: transparent;
    color: rgb(3, 27, 78);
    border-bottom: 3px solid #016AFF;
}

.btn-opposite {
    background-color: #fff;
    border: 1px solid #fff;
    color: #0069ff;
    transition: all 0.3s;
}

.btn-opposite:hover {
    background-color: rgba(225,225,225,0.9);
}
/* ----- FINE BUTTONS ----- */

/* ----- LINKS ----- */
a {
    display: inline-block;
    color: #0069ff;
    font-size: inherit;
    font-weight: 500;
    padding: 0 10px;
    text-decoration: none;
}

a:hover {
    color: #0069ff;
    text-decoration: none;
}

header a {
    color: hsl(221, 93%, 16%);
}

header a:hover {
    color: #006aff;
}

#header-top a {
    color: #5b6987;
}

#header-top a:hover {
    color: #006aff;
}

#jumbotron small {
    display: inline-block;
    margin-top: 16px;
}

#jumbotron small a {
    color: white;
    font-weight: 400;
    padding: 0;
}

#jumbotron small a:hover {
    border-bottom: dotted 1px rgba(255,255,255,0.5);
}

#data-center a {
    color: #0069ff;
    font-weight: 400;
    padding: 0;
}

#data-center a:hover {
    color: #1633ff;
}

#data-center a.test {
    font-size: 12px;
    color: #00d7d2;
    padding: 0;
}

#data-center a.test:hover {
    color: #1633ff;
}
/* ----- FINE LINKS ----- */

/* ----- STILI ----- */
.primary {
    background-color: white;
    color: #031b4e;
}

.secondary {
    background-color: #F3F5F9;
    color: #031b4e;
}

.opposite {
    color: #fff;
}
/* ----- FINE STILI ----- */

/* ----- CITAZIONE ----- */
blockquote {
  font-size: 24px;
  border-left: none;
}

blockquote .quote::before {
    content: "\f10d ";
    opacity: 0.4;
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: bold;
}

blockquote .quote::after {
    content: "\f10e";
    opacity: 0.4;
    font-family: "Font Awesome 5 Free";
    font-size: 8px;
    font-weight: bold;
}

blockquote footer {
    font-size: 12px;
    line-height: 25px;
    margin-top: 40px;
}

blockquote footer::before {
  content: '';
}

blockquote cite {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}
/* ----- FINE CITAZIONI ----- */


/* ---------- */
/* ---------- */
/* ----- HTML ----- */
/* ----- HEADER ----- */
/* ----- #HEADER-TOP ----- */
#header-top {
    height: 41px;
    background-color: white;
    line-height: 40px;
    color: #5b6987;
    font-size: 13px;
    border-bottom: 1px solid rgb(229,232,237);
}

/* ----- HEADER ----- */
/* ----- NAV #HEADER-BTM ----- */
#header-btm {
    height: 65px;
    background-color: white;
    line-height: 65px;
    font-size: 15px;
}

/* ----- HEADER ----- */
/* ----- NAV #HEADER-BTM ----- */
/* ----- PULL-LEFT ----- */
#header-btm .pull-left {
    padding-left: 15px;
}

a.brand-logo {
    margin-right: 40px;
}

#header-btm .pull-left > ul {
    color: hsl(221,93%,16%);
}

.brand-logo img {
    width: 170px;
}

/* ----- HEADER ----- */
/* ----- NAV #HEADER-BTM ----- */
/* ----- PULL-LEFT ----- */
#header-btm .pull-right {
    padding-right: 15px;
}

/* toggle */
.toggle-ic {
    color: #5b6987;
}

/* ----- MAIN ----- */
section {
    padding: 64px 24px;
}

/* ----- MAIN ----- */
/* ----- SECTION #JUMBOTRON ----- */
#jumbotron {
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-position: center;
    padding: 120px 0 64px;
}

#jumbotron p {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}

/* main form */
.main-form {
    width: calc(100% + 30px);
    background-color: white;
    margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
}

.form-title {
    background-color: #f3f5f9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 16px 0 12px;
}

form {
    padding: 32px;
}

.main-form .form-group {
    margin-bottom: 8px;
}

.main-form input {
    height: 48px;
    color: #031b4e;
    border: 1px solid #e5e8ed;
    border-radius: 3px;
    font-size: 16px;
    padding: 16px;
}

.main-form input:focus {
    border-color: #0069ff;
    outline: #0069ff;
    box-shadow: none;
}

.form-sign-up {
    padding: 32px;
    border-top: 1px solid #f3f5f9;
}

.form-sign-up .row div:first-child {
    padding-right: 0;
}

.form-sign-up button {
    padding-left: 0;
    padding-right: 0;
}
/* fine main form */
/* ----- fine SECTION #JUMBOTRON ----- */

/* ----- MAIN ----- */
/* ----- SECTION #SOLUTIONS ----- */
#solutions img {
    height: 77px;
}

#solutions a.angle-right {
    margin-top: 20px;
}

#solutions a:hover {
    color: #1633ff;
}

/* ----- MAIN ----- */
/* ----- SECTION #CONFIGURATION ----- */
#configuration p {
    color: #5b6987;
    margin-bottom: 70px;
}

#configuration ul {
    box-shadow: 0px -4px 0px -1px #e5e8ed inset;
}

#configuration li {
    padding: 0;
}

#configuration .btn {
    font-size: 15px;
    font-weight: 500;
}

#configuration .features {
    margin-top: 40px;
}

#configuration .features p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

/* ----- MAIN ----- */
/* ----- SECTION #FOR-DEVELOPER ----- */
#for-developer p {
    color: #5b6987;
    /* margin-bottom: 70px; */
}

#for-developer .title {
    margin-bottom: 64px;
}

#for-developer .content img {
    width: 80%;
    margin: 0 auto;
}

#for-developer .content p {
    display: inline-block;
    width: 80%;
    margin-top: 32px;
}

#for-developer .dots {
    margin-top: 32px;
}

/* ----- MAIN ----- */
/* ----- SECTION #FOR-BUSINESS ----- */
#for-business h2 {
    margin-bottom: 40px;
}

#for-business h5 {
    margin-top: 25px;
    margin-bottom: 20px;
}

#for-business p {
    font-size: 16px;
}

#for-business .features {
    margin-bottom: 40px;
}

#for-business .row > div:last-child .features {
    margin-bottom: 0;
}

#for-business a {
    font-size: 16px;
    margin: 20px 0;
}

/* ----- MAIN ----- */
/* ----- SECTION #DATA-CENTER ----- */
#data-center {
    background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.data-center-list {
    margin-top: 64px;
    margin-left: -35px;
    margin-right: -35px;
}

.data-center-info {
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
}

.data-center-info:last-child {
    border-bottom: 1px solid transparent;
}

.data-center-info span,
.data-center-info a {
    display: inline-block;
    line-height: 40px;
    vertical-align: bottom;
}

span.half-lh {
    line-height: 20px;
}

.sign {
    width: 60px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}

.location {
    width: 125px;
    color: #fff;
    opacity: 0.6;
    font-size: 13px;
}

.test {
    width: 80px;
}

/* ----- MAIN ----- */
/* ----- SECTION #REVIE-W ----- */
#review .carousel {
    margin-top: 60px;
}

.card {
    background: #fff;
    color: #5b6987;
    border: 1px solid #f3f5f9;
    box-shadow: 0px 2px 4px rgba(1,14,40,0.05);
    border-radius: 6px;
    padding: 60px 15px;
}

.card img {
    max-width: 200px;
    margin-bottom: 20px;
}

#review .dots {
    margin-top: 32px;
}

/* ----- MAIN ----- */
/* ----- SECTION #ACCOUNT ----- */
#account {
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
    background-color: #0069ff;
}

/* ----- FOOTER ----- */
body > footer {
    background-color: hsl(220,95%,8%);
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 14px;
    font-weight: normal;
    padding: 48px 0;
}

body > footer p {
    color: white;
    font-size: 14px;
    font-weight: normal;
}

footer a {
    font-weight: 400;
    color: white;
    opacity: 0.5;
    padding: 0;
}

footer a:hover {
    color: white;
    opacity: 1;
}

/* parte superiore menu */
ul.pr-list {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 40px;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    margin-bottom: 60px;
}

.sec-list {
    width: 100%;
    padding-left: 20px;
}

li.sec-list ul li {
    margin-bottom: 10px;
}

/* parte inf logo e social */
footer .logo {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

footer .logo img {
    width: 35px;
    margin-right: 10px;
}



.social {
    display: inline-block;
    margin: auto;
    margin-top: 40px;
}

a.social-ico {
    display: block;
    float: left;
    padding: 5px;
    margin: 0;
    /* height: 21px;
    vertical-align: middle;
    margin: 0 10px; */
}

.social a {
    margin: 0 4px;
}

.social-ico i,
.social-ico img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.social a img {
    width: 100%;
}

/* ----- MEDIA QUERY ----- */
/* collasso HEADER NAVBAR */
@media screen and (min-width: 1100px) {
    /* HEADER */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    #header-top {
        display: block!important;
    }

    #header-btm ul.hidden {
        display: inline-block!important;
    }

    .toggle-ic {
        display: none;
    }

    /* MAIN */
    main {
        margin-top: 106px;
    }
}

/* formattazione MAIN FORM */
@media screen and (min-width: 394px) {
    .main-form {
        max-width: 364px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* formattazione DATA CENTER LIST */
/* formattazione FOOTER MENU */
@media screen and (min-width: 400px) {
    .data-center-list {
        margin-left: 0;
        margin-right: 0;
    }

    .sign {
        width: 80px;
        margin-left: 10px;
    }

    footer .sec-list {
        width: 50%;
        float: left;
    }

    footer .logo {
        font-size: 14px;
    }

    footer .logo img {
        width: 50px;
    }
}

/* XS */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 58px;
    }

    /* configuration */
    #configuration .btn-light {
        border: 0;
        border-left: 3px solid transparent;
    }

    #configuration .btn-light:hover {
        border-left: 3px solid #016AFF;
    }

    #configuration nav {
        text-align: left;
    }

    #configuration ul {
        box-shadow: 4px 0px 0px -1px #e5e8ed inset;
    }

    #configuration li {
        display: block;
    }

    #configuration .btn {
        width: 100%;
        text-align: left;
    }

    #configuration .features {
        text-align: left;
    }

    #configuration .content .row > div:nth-child(-n + 2) .features {
        margin-top: 0;
    }

    /* #datacenter */
    #data-center .location {
        width: 350px;
    }

    #data-center span.half-lh {
        line-height: 40px;
    }

    footer .sec-list {
        width: 20%;
    }

    .social {
        margin-top: 0;
        padding-top: 5px;
    }
}
/* SM */
@media screen and (min-width: 992px) {
    /* ALL DOC */
    .hidden.arrow-left,
    .hidden.arrow-right {
        display: block!important;
    }

    /* MAIN */
    section {
        padding-left: 0;
        padding-right: 0;
    }

    #jumbotron .content {
        padding-top: 100px;
        text-align: left;
    }

    .main-form {
        margin-top: 0;
    }

    #configuration {
        /* width: 970px; */
        margin: auto;
    }

    #for-business .features {
        text-align: left;
    }

    /* #datacenter */
    #data-center .data-center-info {
        display: inline-block;
        float: left;
        margin-left: 11px;
        margin-right: 11px;
    }

    #data-center .location {
        max-width: 280px;
    }

    .sign {
        width: 70px;
    }

    #account .title {
        text-align: left;
    }

    #account .content {
        text-align: right;
    }

}
/* MD */
@media screen and (min-width: 1140px) {
    #configuration .container-fluid,
    #for-developer .container-fluid {
        width: 1170px;
    }

    #data-center .data-center-list {
        padding: 0 101px;
    }

    footer .sec-list {
        width: calc(100% / 12 * 2);
    }

    footer .sec-list:first-child {
        margin-left: calc(100% / 12 * 1);
    }
}
/* LG */
